* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body,
.infos-container,
.infos-row,
.loader-container,
.loader_centered,
.slideshow-container,
.slideshow-row,
.slideshow-item,
.ss-description,
.ss-desctiprion_table,
.link_centered,
.span100,
ul.pj-tags,
ul.pj-description,
li.ss-link span,
a:not(.contact-link)::after {
	width: 100%;
}

.span100 span {
    font-size: 90%;
    font-weight: 800;
}

.span100 span a {
    text-decoration: underline;
    letter-spacing: -0.01em;
}

.span100 span a:hover {
    text-decoration: none;
}

html,
body,
.infos-container,
.infos-row,
.loader-container,
.loader_centered,
.slideshow-container,
.slideshow-row,
.slideshow,
.slideshow-item,
.ss-description,
.ss-desctiprion_table,
.link_centered,
li.ss-link span {
	height: 100%;
}

body {
	margin: 0;
	letter-spacing: 0.01em;
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, h1, h2, h3, h4, p, ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 { font-weight: 900; line-height: 1; }

ul { list-style: none; }

img {
	vertical-align: bottom;
}

a {
	text-decoration: none;
	color: black;
	position: relative;
}

::selection {
	background-color: rgba(240, 240, 240, 0.8);
	color: white;
}

::-moz-selection {
	background: rgba(240, 240, 240, 0.8);
	color: white;
	text-shadow: white;
}

a:not(.contact-link)::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 6%;
	height: 9%;
	background-size: auto 50%;
}

a:not(.contact-link):hover::after {
	height: 0;
}

/* Positions */

.infos-container, .slideshow-row {
	position: fixed;
}

.infos-link, .infos-contact, .loader-container, .slideshow-item, .ss-description {
	position: absolute;
}

.infos-row, .infos, .links, .slideshow {
	position: relative;
}

/* Float */

[class*="span"], [class*="-wrap"], .infos, .links {
	float: left;
}

/* Overflow */

.infos-container, .slideshow-container, .slideshow-row {
	overflow: hidden;
}

[class*="-wrap"] {
	overflow-y: scroll;
}

/* indexes */

.infos-container {
	z-index: 999999;
}

.infos-link {
	z-index: 99999;
}

.slideshow-container {
	z-index: 9999;
}

.slideshow-row {
	z-index: 999;
}

.ss-description {
    z-index: 99;
}

.slideshow-item {
    z-index: 9;
}

.loader-container {
    z-index: 8;
}

/* */

.infos-container {
	width: 0;
	background-color: white;
}

.infos-container.black .infos {
	background-color: black;
	color: white
}

.infos-container.black .infos a {
	color: white;
}

.infos-container.black .logo-radius {
    background-color: black !important;
    color: white;
}

.infos-container.black .infos-contact a {
    border-color: white;
    color: white;
    background-color: black;
}

[class*="-wrap"] {
	width: 100%;
	height: 100%;
}

.infos, .infos a, .logo, .logo-radius, .infos-contact a {
	-webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
	-moz-transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
	-o-transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
}

.infos, .links {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	min-height: 100%;
}

.links-wrap p:last-child, .welcome p:last-child, .blog p:last-child {
	margin-bottom: 0 !important;
}

.welcome, .blog {
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 50%;
    min-height: 100%;
}

.welcome {
	background-color: rgb(250, 250, 250);
}

.blog {
    background-color: white;
    text-align: center;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.slideshow-container.draggable .blog {
    background-color: rgb(250, 250, 250);
}

.infos-link {
	bottom: 0;
	width: 5.859375%;
}

.link_centered, ul.pj-tags, ul.pj-description, .loader_centered, .ss-desctiprion_table {
	display: table;
	text-align: center;
}

.logo-after {
    font-family: "UR", sans-serif;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    right: -100%;
    text-align: left;
}

.logo,
.infos-link .link_centered:hover .logo-after,
.infos-link.open.dumblink .logo-after {
    visibility: visible;
    width: 100%;
    vertical-align: middle;
}

ul.pj-tags li, ul.pj-description li, .loader, .ss-desctiprion_centered {
	display: table-cell;
	vertical-align: middle;
}

ul.pj-tags, ul.pj-tags li, .infos-contact a {
	border-width: 1px;
}

.infos-link.close .logo-radius {
    display: inline-block;
    padding: 10% 13% 10% 13%;
    background-color: white;
    border-radius: 50%;
}

.infos-link.open {
	cursor: e-resize;
}

.infos-link.close {
	cursor: w-resize;
}

.logo {
    pointer-events: none;
}

ul.pj-tags {
	text-transform: uppercase;
	border-left-style: solid;
}

ul.pj-tags li {
	border-right-style: solid;
}

li.ss-link {
	width: 3.359375%;
    display: none !important;
}

li.ss-link span {
    padding: 80% 0;
}

.ss-prev, .ss-next {
	display: block;
    cursor: pointer;
}

.ss-prev {
	text-align: left;
}

.ss-next {
	text-align: right;
}

.infos-contact {
	right: 51.7%;
}

.infos-contact a {
	background-color: white;
}

.infos-contact a {
	border-style: solid;
	border-color: black;
	display: block;
}

.infos-contact a:hover {
	background-color: black;
	color: white;
}

.ss-description .pj-tags {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.logo-after,
.slideshow .slideshow-item:first-child,
.ss-description.hidden .pj-tags,
.ss-description.hidden .pj-title,
.ss-description.hidden .ss-prev,
.ss-description.hidden .ss-next {
    opacity: 0;
}

.logo-after,
.ss-description .pj-tags,
.ss-description .pj-title,
.ss-description .ss-prev,
.ss-description .ss-next {
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

.ss-description {
    background-color: rgba(240, 240, 240, 0.9);
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}

.ss-description.hidden {
    pointer-events: none;
    background-color: rgba(240, 240, 240, 0);
}

.ss-description.hidden .pj-tags,
.ss-description.hidden .pj-title {
    visibility: hidden !important;
}

.ss-description .ss-link {
    pointer-events: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.ss-description .ss-prev,
.ss-description .ss-next {
    height: auto;
}

.infos-link .link_centered:hover .logo-after,
.infos-link.dumblink .logo-after,
.slideshow.loaded .slideshow-item:first-child,
.ss-description .pj-tags,
.ss-description .pj-title,
.mouse-left .ss-description .ss-prev,
.mouse-right .ss-description .ss-next {
    opacity: 1;
}

.loader-container {
    color: white;
    pointer-events: none;
}

.onload .loader-container {
    -webkit-animation: fadein 500ms ease-in alternate infinite;
    -moz-animation: fadein 500ms ease-in alternate infinite;
    animation: fadein 500ms ease-in alternate infinite;
}

.loaded .loader-container {
    -webkit-animation: opacity 200ms ease-in-out;
    -moz-animation: opacity 200ms ease-in-out;
    animation: opacity 200ms ease-in-out;
    opacity: 0;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.slideshow {
    background-color: black;
}

.slideshow-item {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}

.w .item-image {
    background-size: 100% auto;
}

.h .item-image {
    background-size: auto 100%;
}

.item-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /*background-color: transparent;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;*/
}

.slideshow-container.black .slideshow .item-image,
.slideshow.ss-grey .item-image {
    /*background-color: black;
    background-blend-mode: luminosity;*/
    /*opacity: 0.2;*/
}

.slideshow img, .infos-link, li.ss-link span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media(min-width: 2000px) {

	ul.pj-tags, ul.pj-tags li, .infos-contact a {
		border-width: 2px;
	}

}