/* Global Style ****************************************************************************/

body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, p, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; vertical-align: bottom; }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

@font-face {
    font-family: 'am';
    src: url('../content/am-thin-webfont.eot');
    src: url('../content/am-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../content/am-thin-webfont.woff2') format('woff2'),
         url('../content/am-thin-webfont.woff') format('woff'),
         url('../content/am-thin-webfont.ttf') format('truetype'),
         url('../content/am-thin-webfont.svg#work_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, button, input, select, textarea {
    background-color: white;
    color: black;
    font-family: 'am', Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: blue;
}

a:focus {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content: "";
    display: table;
}

::selection {
	background-color: transparent;
	color: white;
}

::-moz-selection {
	background: transparent;
	color: white;
	text-shadow: white;
}

/* Fonts ***************************************/



/************************************** Fonts **/

/* Indexes *************************************/



/************************************ Indexes **/

/* Global Classes ******************************/



/***************************** Global Classes **/


/*************************************************************************** Global Style **/

/** Transitions ****************************************************************************/

.t {
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.about-lb {
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.project-thumb, 
.project-title {
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.project-thumb-image {
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

/**************************************************************************** Transitions **/

/* Content *********************************************************************************/

.container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.about-link,
.stories-links {
    position: fixed;
}

.about-link {
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    padding: 16px;
    z-index: 99999;
    cursor: pointer;
}

.about-link div {
    background-color: black;
    width: 100%;
    height: 100%;
}

.story-link {
    width: 4px;
    height: 4px;
    border: solid 1px;
    z-index: 99999;
    background-color: black;
}

.stories-links {
	display: none;
    top: 16px;
    right: 16px;
}

.story-link {
    position: relative;
    border-radius: 100%;
}

.s-2 { top: 24px; }
.s-3 { top: 48px; }
.s-4 { top: 72px; box-shadow: 0 0 3px 1px rgba(0,0,0,0.4); }
/*.s-4 { top: 72px; }
.s-4::after {
    position: absolute;
    top: -2px;
    left: -2px;
    content: '';
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-radius: 100%;
    border: solid 1px black;
}*/
.s-5 { top: 96px; }
.s-6 { top: 120px; }
.s-7 { top: 144px; }
.s-8 { top: 168px; }

.about-lb {
    position: fixed;
    width: 1280px;
    height: 100%;
    background-color: rgb(230, 230, 230);
    z-index: 99;
    opacity: 1;
}

.about-lb.hidden {
    opacity: 0;
    pointer-events: none;
}

.about-text, .about-projects {
    min-height: 100%;
    max-height: 100%;
    overflow: scroll;
    float: left;
    padding: 26px 30px 26px 30px;
}

.about-text {
    width: 50%;
    font-size: 50px;
    font-weight: lighter;
    line-height: 60px;
}

.about-text p {
    margin-bottom: 40px;
}

.project-title {
    opacity: 1;
}

.project-title.hidden {
    opacity: 0;
}

.diary-link {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.about-projects {
    width: 50%;
    right: -14px;
    position: relative;
}

.project-thumb {
    float: left; 
    padding: 4px;
    width: 71px;
    height: 103px;
    opacity: 0.4;
}

.project-thumb-wrap:hover .project-thumb {
    opacity: 0.9;
}

.project-thumb-wrap:hover .project-thumb-image {
    background-color: rgba(230, 230, 230, 0);
}

.project-thumb:hover {
    opacity: 1 !important;
}

.project-thumb-image {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgba(230, 230, 230, 1);
    background-blend-mode: luminosity;
    cursor: pointer;
}

.project-thumb.h {
    width: 143px;
    background-size: auto 100%;
}

.separator {
    float: left; 
    padding: 4px;
    width: 71px;
    height: 103px;
}

.separator .story-link {
    top: 45px;
    left: 30px;
    float: left;
}

/*******************************************************************************************/

.content {
    width: 1280px;
    height: 100%;
    padding: 12px 28px 28px 28px;
}

.canvases, .c-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.d-left,
.d-right,
.full {
    position: absolute;
    height: 100%;
    padding: 4px;
}

.d-left,
.d-right {
    width: 50%;
}

.d-right {
    right: 0;
}

.full {
    width: 100%;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.photo.w {
    background-size: 100% auto;
}

.photo.h {
    background-size: auto 100%;
}

/******************************************************************************** Content **/

/** Media Queries **************************************************************************/

@media (max-width: 767px) {
    .container-fluid {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container-fluid {
        width: 90.625%;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .container-fluid {
        width: 92.96875%;
    }
}

@media (min-width: 1280px) {
    .container-fluid {
        width: 95.625%;
    }
}

/************************************************************************** Media Queries **/