<figure class="clock">
  <div class="clock__case" aria-hidden="true">
    <div class="clock__dial">
      <div class="clock__index clock__index--each5 clock__index--marker">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="clock__index clock__index--each1 clock__index--marker">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="clock__index clock__index--each1 clock__index--marker">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="clock__index clock__index--each1 clock__index--marker">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="clock__index clock__index--each1 clock__index--marker">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="clock__index clock__index--number clock__index--hour">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="clock__index clock__index--number clock__index--min">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="clock__hour">
      <div id="hourHand" class="clock__init">
        <div class="clock__hand"></div>
      </div>
    </div>
    <div class="clock__min">
      <div id="minHand" class="clock__init">
        <div class="clock__hand"></div>
      </div>
    </div>
    <div class="clock__sec">
      <div id="secHand" class="clock__init">
        <div class="clock__hand"></div>
      </div>
    </div>
    <div class="clock__axis"></div>
  </div>
  <figcaption>Clock displaying current time</figcaption>
</figure>
