html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  margin: 0 auto;
  display: grid;
  place-items: center;
  max-width: 650px;
  padding: 16px 16px 24px;
  font-size: 18px;
  color: #222;
  min-height: 100vh;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: initial;
  line-height: 1.1;
}

h2,
h3,
hr {
  border: 0;
  border-bottom: solid 1px #ddd;
}

h2,
h3,
h3 {
  padding-bottom: 0.4em;
}

a {
  text-decoration: none;
  color: #0049e6;
}

a:visited {
  color: #345498;
}

a:hover {
  text-decoration: underline;
}

a[target]::after {
  content: "\00a0↗";
  font-style: normal;
  margin-left: -0.1em;
}

dl {
  counter-reset: dt;
}

dt::before {
  counter-increment: dt;
  content: counter(dt) ".";
  margin-right: 0.25em;
}

cite::before {
  content: "—\00a0";
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #ddd;
  }

  h1,
  h2,
  h3 {
    color: #fff;
  }

  h2,
  h3,
  h3,
  hr {
    border-color: #333;
  }

  a {
    color: #579aff;
  }

  a:visited {
    color: #869fc6;
  }
}
