html {
	height: 100%;
}

body {
	text-align: center;
	background: #00ECB9;
	letter-spacing: .03em;
	font-family: sans-serif;
	font-weight: 100;
	height: 100%;
	margin: 0;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	padding: 0 50px;
}

h1 {
  color: #008568;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin: 40px 0px 20px;
}

.diagram {
	margin-bottom: 50px;
	position: relative;
	height: 100px;
}

.diagram img {
	position: absolute;
	max-width: 100px;
	width: 20%;
	
}

.diagram.at_100 .oliv {
	margin-left: -100px;
}

.diagram.at_100 .trails {
	padding-right: 50px;
}

.trails {
	position: absolute;
	top: 50%;
	padding-right: 150px;
	box-sizing: border-box;
}

.trails div {
	width: 100%;
	border-bottom: dotted 2px #00B392;
}

.oliv {
	left: 0;
	margin-left: -200px;
}

.kathi {
	right: 0;
}

#clockdiv {
	font-family: sans-serif;
	color: #008568;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 50px;
}

#clockdiv > div {
	border-radius: 3px;
	display: inline-block;
}

#clockdiv div > span {
	padding: 15px;
	color: white;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;	
}

@media(max-width: 600px) {
	.table-cell {
		padding: 0 8px;
	}
	.diagram img {
		width: 20%;
		top: 50%;
		margin-top: -10%;
	}
	#clockdiv {
		font-size: 1em !important;
	}
	.diagram.at_100 .oliv {
		margin-left: -20%;
	}
	.oliv {
		margin-left: -40%;
	}
	.diagram.at_100 .trails {
		padding-right: 10%;
	}
	.trails {
		padding-right: 30%;
	}
}